.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background: linear-gradient(180deg, #add8e6, #ffffff 120%);
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: black;
}

.App-footer {
    background-color: #2d3e50;
    color: white;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-text {
    margin-right: 6px;
}
.footer-image {
    margin: 6px;
}

.construction_image {
    margin-bottom: 24px;
    max-width: 25%;
    width: 100%;
    height: auto;
}

.App-link {
    color: #61dafb;
}
